.container {
  margin-top: 20px;
}

.stepContainer {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.icons {
  color: "#fff";
  font-size: 16px;
  margin-right: 0.5rem;
}

.tickIcon {
  color: "#fff";
  font-size: 10px;
  margin-right: 0.5rem;
  background-color: #2d55ff;
  border-radius: 50%;
  padding: 3px;
}

.mainContainer {
  margin-top: 60px;
}

.signTextDiv {
  display: flex;
  cursor: pointer;
}
