@import "../../../styles/variables.scss";

.spacesContainer {
  width: 100%;
  min-height: 100vh;
  background-color: $background-color-dark;

  .headerImage {
    background-image: linear-gradient(
        180deg,
        rgba(30, 30, 30, 0) 0%,
        rgba(24, 24, 24, 0.6) 39.11%,
        #111111 86.57%
      ),
      url("/assets/images/spacesHeader.png");
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 50vh;

    .spaceInfoContainer {
      padding: 24px 48px;
      bottom: 4px;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      flex: 1;

      .logo {
        width: 5rem;
        height: 5rem;
        background-color: $dark-gray;
        border-radius: 8px;
        object-fit: cover;
      }
      .name {
        font-size: 36px;
        color: white;
        font-weight: 800;
        margin: 12px 0;
      }

      .address {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;

        .walletAddress {
          color: $light-gray;
        }
      }

      .infoContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .details {
          width: 500px;
          // margin-top: 8px;
          color: $typography-primary;
        }

        .spaceDetails {
          display: flex;
          gap: 44px;
          align-items: center;
        }
      }
    }
  }

  .stationsContainer {
    padding: 10px 48px;

    .header {
      display: flex;
      align-items: end;
      justify-content: end;
      .socials {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    .erc20List {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      align-items: center;
    }

    .banner {
      background-color: $dark-gray;
      padding: 6rem;
      color: $gray;
      align-items: center;
      justify-items: center;
      text-align: center;
      border-radius: 0.8rem;
    }
  }
}

.spaceCustomise {
  background-color: $background-color-dark;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
  padding-inline: 4rem;
  color: $white;

  @media (max-width: $breakpoint-md) {
    padding-inline: 4rem;
  }

  @media (max-width: $breakpoint-sm) {
    padding-inline: 2rem;
  }

  .header {
    font-size: 3rem;
    font-weight: 700;
  }
  .tabs {
    display: flex;
    border-bottom: 0.5px solid $divider-color;

    .tab {
      width: fit-content;
      background: none;
      color: $white;
      border: none;
      padding-inline: 2rem;
      padding-block: 1rem;
      cursor: pointer;
    }
  }

  .description {
    width: 70%;
    color: $gray;
  }

  .subHeader {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.5px solid $divider-color;

    @media (max-width: $breakpoint-xl) {
      display: grid;
      grid-template-columns: 4fr 10fr;
    }

    @media (max-width: $breakpoint-lg) {
      display: grid;
      grid-template-columns: 5fr 8fr;
    }

    @media (max-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: 6fr 8fr;
    }

    @media (max-width: $breakpoint-sm) {
      display: flex;
      flex-direction: column;
    }
  }

  .input {
    background-color: transparent;
    border: 1px solid $divider-color;
    border-radius: 0.6rem;
    width: 100%;
    height: fit-content;
    color: $white;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    align-items: start;
    justify-content: start;
    text-align: start;
    ::placeholder {
      color: $light-gray;
    }
    &:focus {
      outline: none;
    }

    @media (max-width: $breakpoint-xl) {
      width: 45%;
    }

    @media (max-width: $breakpoint-lg) {
      width: 55%;
    }

    @media (max-width: $breakpoint-md) {
      width: 75%;
    }

    @media (max-width: $breakpoint-sm) {
      width: 90%;
    }
  }

  .inputPrefix {
    display: flex;
    align-items: center;
    width: 100%;

    @media (max-width: $breakpoint-xxl) {
      width: 40%;
    }

    @media (max-width: $breakpoint-xl) {
      width: 45%;
    }

    @media (max-width: $breakpoint-lg) {
      width: 55%;
    }

    @media (max-width: $breakpoint-md) {
      width: 75%;
    }

    @media (max-width: $breakpoint-sm) {
      width: 90%;
    }

    .prefix {
      width: fit-content;
      background-color: $dark-gray;
      padding-inline: 1.2rem;
      padding-block: 0.8rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .socialInput {
      background-color: transparent;
      border-block: 1px solid $divider-color;
      border-right: 1px solid $divider-color;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 100%;
      height: fit-content;
      color: $white;
      padding-inline: 1.5rem;
      padding-block: 0.8rem;
      align-items: start;
      justify-content: start;
      text-align: start;
      ::placeholder {
        color: $light-gray;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .spaceImage {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    .logo {
      width: 4rem;
      height: 4rem;
      background-color: $dark-gray;
      border-radius: 10px;
      object-fit: cover;
    }

    .uploadButton {
      padding: 0;
      width: 120px;
      display: block;
      height: 40px;
      position: relative;
      border-radius: 20px;
      color: $white;
      background-color: $dark-gray;
      border: none;
      overflow: hidden;
      cursor: pointer;

      .label {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
      }

      .input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        z-index: 50;
      }
    }
  }

  .save {
    display: flex;
    justify-content: end;

    .button {
      width: 10rem;
      padding-block: 0.8rem;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 2rem;
      text-align: center;
      cursor: pointer;
      &:disabled {
        background-color: $white;
        color: #111;
        cursor: progress;
      }
    }
  }
}

.footer {
  background-color: $background-color-dark;
  padding: 10px 48px;

  .topContainer {
    border-top: 0.5px solid $divider-color;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .linksContainer {
      display: flex;
      align-items: center;
      color: #c4c4c4;
      gap: 32px;
      font-size: 14px;

      img {
        margin-right: 12px;
      }
    }

    .socials {
      display: flex;
      gap: 12px;
      align-items: center;

      .social {
        display: flex;
        width: 2rem;
        height: 2rem;
        padding: 10;
        background-color: $dark-gray;
        align-items: center;
        justify-content: center;
        border-radius: 0.2rem;
      }
    }
  }
}
