@import "../../../../styles/variables.scss";

.tabs {
    background: $background-color-dark;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
    border: .5px solid $divider-color;

  
    &__slider {
      background: $dark-gray;
      border-radius: 8px;
      position: absolute;
      height: 80%;
      transition: transform 0.3s ease;
    }
  
    &__button {
      flex: 1;
      padding: 8px 20px;
      text-align: center;
      background: transparent;
      color: #707070;
      font-size: 12px;
      font-family: inherit;
      cursor: pointer;
      z-index: 1;
      border: none;
  
      &--active {
        color: #fff;
      }
    }
  }
  