.modal{
    background-color: #111111;
    
    .lineaModal{
        width: 800px;
        display: flex;
        gap: 24px;
        border-radius: 12px;
    }

    .campaignModal{
        width: 600px;
        height: 500px;
        overflow-y: scroll;
    }
}

