.modal {
  background-color: #111111;

  .lineaModal {
    width: 800px;
    display: flex;
    gap: 24px;
    border-radius: 12px;
  }

  .campaignModal {
    width: 700px;
    max-height: 580px;
    overflow-y: scroll;

    .heading {
      font-size: "20px";
      font-weight: 600;
      margin-bottom: "8px";
    }

    .subtext {
      margin-top: 8px;
    }
  }

  .activateLXPModal {
    a {
      color: #6f9dff;
    }
    width: 1200px;
    max-height: 700px;
    overflow-y: scroll;

    .heading {
      font-size: "20px";
      font-weight: 600;
      margin-bottom: "8px";
    }

    .subtext {
      margin-top: 8px;
    }
  }
}

.joinCampaignBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px 12px;
  background: transparent linear-gradient(238deg, #2e55ff 0%, #ff279c 100%) 0%
    0% no-repeat padding-box;

  a {
    color: #bfceef;
  }
}
