@import "../../../styles/variables.scss";

.proposalPageContainer{
    display: flex;
    gap: 20px;

    .leftContainer{
        flex: 0.75;

        .tabsSelection {
            margin-top: 16px;
            border-bottom: 1px solid $border-color;
            margin-bottom: 20px;

          }

          .nextProposalContainer{
            padding-bottom: 28px;
            border-bottom: 0.5px solid $divider-color;
            margin-bottom: 20px;
          }

       
    }

    .rightContainer{
        flex: 0.25;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: sticky;
        top: 100px;
        height: fit-content;

        .infoContainer{
            display: flex;
            flex-direction: column;
            gap: 8px;
            border: .5px solid $divider-color;
            border-radius: 8px;
            padding: 16px;
            


        }

        .signersContainer{
            @extend .infoContainer;
            .heading{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .signersList{
                margin-top: 20px;


                .signer{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    margin-bottom: 8px;

                    div{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        background-color: #1E1E1E;
                        color: white;
                        padding: 4px 8px;
                        border-radius: 4px;
                        width: 150px;
                    }

                    .copyAddress{
                        background-color: #1E1E1E;
                        padding: 8px;
                        border-radius: 4px;
                        cursor: pointer;
                        
                    }

                }
            }
        }
    }
}

 .proposal{
    margin-top: 20px;
    background-color: #141414;
    border-radius: 8px;
    border: 0.5px solid $divider-color;
    padding: 20px;

    .proposalItemContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        

        .proposalDetails{
            @extend .proposalItemContainer;
            border: none;
            margin-top: 0px;


            .imageInfo{
                display: flex;
                gap: 8px;
                align-items: center;
                background-color: #1e1e1e;
                padding: 6px 12px;
                border-radius: 8px;

            }
        }

        .signContainer{
            display: flex;
            align-items: center;
            gap: 20px;

            .signInfo{
                display: flex;
                align-items: center;
                gap: 4px;
                padding:4px 12px;
                border-radius: 50px;
                background-color: $active-background;

                .signText{
                    color: $active-text;
                    font-size: 12px;

                }
            }

            .signButton{
                background-color: #1e1e1e;
                padding:6px;
                width: 100px;
                border: 0.5px solid $divider-color;
                color: white;
                font-family: inherit;
                border-radius: 8px;
                cursor: pointer;

                &:disabled{
                    background-color: #1E1E1E;
                    color: #707070;
                    cursor: not-allowed;
                    
                    &:hover{
                    background-color: #1E1E1E;
                }
                }
                
                &:hover{
                    background-color: #282828;
                }
            }

            .executeButton{
                @extend .signButton;
                background-color: white;
                color: black;

                &:hover{
                    color: black;
                    background-color: white;
                }
            }

        }

        .executedContainer{
            display: flex;
            align-items: center;
            gap: 40px;

            .executedText{
                color: $active-text;
                font-size: 14px;
                font-weight: 600;   
            }

            .txContainer{
                display: flex;
                align-items: center;
                gap: 8px;

                .txText{
                    font-family: inherit;
                    font-size: 14px;
                    color: gray;
                    padding: 4px 12px;
                    border-radius: 8px;
                    font-weight: 600;
                    background-color: #1e1e1e;
                }

                .copy{
                    color: gray;
                    background-color: #1e1e1e;
                    padding: 8px;
                    font-size: 28px;
                    border-radius: 8px;
                }
            }
        }
    }

    .notesContainer{
        margin-top: 16px;
        border: 0.5px solid $divider-color;
        padding: 12px;
        border-radius: 8px;
        width: fit-content;
        .note{
            font-family: inherit;
            
        }
    }
}