
@import "../../../styles/variables.scss";

.hello{
    color: green;
}

.tableCell {
    padding-left: 16px;
    font-family: inherit;
    font-size: 16px;
    background-color: $background-color-dark;
  }

.tableHeader {
    color: $gray;
}

.tableCell {
    font-weight: 500;
    background-color: $background-color-dark;
}