@import "./../../../../styles/variables.scss";

.button {
  margin: 5px;
  font: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 28px;
  color: $white;
  cursor: pointer;
  background-color: $primary;
  border-radius: 48px;
  &:hover {
    background-color: $white;
    color: $primary;
  }
}

.disabled {
  background-color: $button_disabled !important;
  cursor: unset !important;
}
