@import "../../../../styles/variables.scss";

.sidebar {
  width: 70px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: fixed;
  align-items: center;
  padding: 12px;
  top: 10vh;
  background-color: $background-color-dark;

  .iconsList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 25px;

    .link {
      cursor: pointer;
      color: $gray;

      &:hover {
        color: $white;
      }
    }
  }
}
