.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  //   position: relative;
}

.stepperContainer {
  flex: 0.4;
  position: sticky;
  top: 100px;
  height: 400px;
}

.formContainer {
  flex: 0.4;
}
