@import "../../../../styles/variables.scss";

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  position: fixed;
  z-index: 10;
  height: 10vh;
  align-items: center;
  background-color: $background-color-dark;

  .wallet-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .switch {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      background: #161616;
      padding: 4px 20px;
      border-radius: 20px;
      border: 1px solid #222222;
      cursor: pointer;
      color: $typography-gray;
      &:hover {
        background: #1b1b1b;
      }

      .networkImg{
        border-radius: 25px;
        border: 1px solid #222222;
      }
    
    }
  }
}
