@import "../../../../styles/variables.scss";

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  position: fixed;
  z-index: 10;
  height: 8vh;
  align-items: center;
  background-color: $background-color-dark;
  display: flex;
  align-items: center;

  .wallet-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .connectedWallet{
      position: relative;
      height: fit-content;
     

      .wallet{
        position: absolute;
        z-index: 1000;
        background-color: #161616;
        padding: 4px;
        border-radius: 50px;
        top: 20px;
        left: 20px;
      }
    }

    .switch{
      background: #161616;
      padding: 8px 20px;
      border: 0.5px solid #3d3d3d;
      border-radius: 55px;
      cursor: pointer;
    }
  }
}
