/* colors */
$white: #ffffff;
$primary: #2d55ff;
$typography-primary: #f5f5f5;
$typography-gray: #d3d3d3;
$typography-powderblue: #c1d3ff;
$typography-darkblue: #6475a3;
$button_disabled: #6f9dff;
$border: 0.5px solid #6475a3;
$background-secondary: #2d55ff;
$background-primary: #151515;
$active-background: #05735940;
$active-text: #0abb92;
$inactive-background: #d5533840;
$inactive-text: #d55338;
